.game-menu {
    background-image: url(../res/img/wallpaper1.jpg);
}

#playersName,
.game-menu {
    ,
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover
}

.game-menu .menu {
    position: absolute;
    bottom: 5%;
    top: auto;
    left: 50%
}

.game-menu .menu .menu-btn {
    margin-bottom: 1%
}

#game {
    margin: auto
}

#game .action-label {}

#game .lable-one-place {
    left: 12%
}

#game .lable-one-place,
#game .lable-two-place {
    position: absolute;
    top: 45%
}

#game .lable-two-place {
    right: 12%
}

.block {
    width: 60px;
    height: 60px;
    float: left;
    background-color: #ffffff;
    border: 1px solid;
    padding: 1px;
}

.unempty {
    width: 55px;
    height: 55px;
    background: radial-gradient(circle, rgb(35, 34, 34) 35%, rgb(255, 255, 255) 94%);
    border: 2px #000 solid;
    border-radius: 5px;
}

.hint {
    cursor: pointer;
    background-color: #00F !important
}

.worrior {
    width: 50px;
    height: 50px;
    margin: 4px auto
}

.labels {
    position: relative
}

.player-one {
    position: absolute;
    top: 7px;
    left: -103px
}

.player-two {
    position: absolute;
    right: -103px;
    top: 7px
}

#game .label {}

#game .label .label-name {}

#game .label .label-score {}