.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map-box{
  width: 800px;
  height:500px;
  margin: auto;
  margin-top: 60px;
}

.map-box  .map-div{
  width: 500px;
  height:500px;

}
.leaflet-container {
  height: 500px;
  width: 500px;
}

.map-box .map-list{
  overflow-y: scroll;
  width:  285px;;
  height:450px;

}

.map-box .map-list h6{

}

.map-box .map-list ul{
  list-style: none;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
